:root {
    --cor_de_fundo: rgb(32, 40, 77);
    --cor_botao: rgba(94, 110, 182, 0.8);
    --cor_botao_hover: rgba(94, 110, 182, 0.6);
    --cor_botao_pressed: rgba(27, 96, 246, 0.4);
    --cor_fundo_formulario: rgba(94, 110, 182, 0.4);
    --cor_verde_concluido: rgb(0, 233, 19);
    --cor_verde_concluido-pressed: rgb(0, 233, 19, 0.4);
    --cor_vermelho_exclusao: red;
    --cor_vermelho_exclusao-pressed: rgba(255, 0, 0, 0.4);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
    background-repeat: no-repeat;
    height: calc(100vh - 10rem);
}

input {
    height: 3rem;
    margin: 1rem 0;
    background-color: var(--cor_fundo_formulario);
    border: none;
    border-radius: 0.3rem;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.65);
}

.botao {
    background-color: var(--cor_botao);
    border: none;
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.botao:hover {
    background-color: var(--cor_botao_hover);
}

button {
    height: 3rem;
    margin: 1rem 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.65);
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 0;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: white;
}
